
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: rgb(252, 252, 252);
}
h1{
  font-size: 100px;
  font-weight: bold;
}